.navbar {
  background-color: rgb(252, 252, 252) !important;
}
.navbar-inner {
  background: transparent !important;
}
.navbar-brand {
  color: rgb(27, 26, 26) !important;
}
.page-header {
  display: flex;
}
.nav-link {
  color: rgb(22, 11, 20) !important;
  font-family: Arial;
}
