.sale {
  outline: 2px solid rgb(109, 90, 90);
  position: relative;
  /* background: rgb(229, 229, 235); */
  height: 800px;
  width: 400px;
  top: 20px;
  margin-left: 100px;
}
.dashbord-title {
  color: rgb(96, 42, 146);
  font-size: 30px;
}

.btn-nav {
  background-color: #1a5ad1;
  padding: 0 1rem;
  border-radius: 2rem;
  width: 50%;
  max-width: 300px;
  justify-content: center;
}
