.dashbord-title {
  color: rgb(96, 42, 146);
  font-size: 30px;
}
.form-control {
  border-radius: 12px !important;
  height: 60px !important;
  border-color: rgb(151, 76, 76);
}
.description {
  height: 120px !important;
  border-color: rgb(151, 76, 76);
}
.location {
  height: 60px !important;
}
.btn-nav {
  background-color: #58430a;
  padding: 1 2rem;
  border-radius: 2rem;
  width: 50%;
  max-width: 300px;
  justify-content: center;
}
.form-control {
  border-width: 2px !important;
  border-color: rgb(14, 82, 114) !important;
}
