.footer {
  background: #000000;
  color: white;
  padding: 20px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
.feedback {
  color: rgb(255, 255, 255);
  align-items: center;
}
@media screen and (max-width: 770px) {
  .footer {
    background: #050505;
    color: white;
    padding: 20px;
  }
}
