/* .product-image img {
  max-width: 100%;
  margin-bottom: 30px !important;
}
.product-info {
  margin-top: auto;
  align-items: center;
}
@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}
/* Select the first two */
.products .product-card:first-child,
.products .product-card:nth-child(2) {
  flex: 2 46%;
}
@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}
@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
  .sort {
    align-self: flex-start;
  }
}
*/
/* Test */
.position-relative {
  position: relative !important;
}
* {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
/* Card article */
.card-article {
  background-color: #fff;
  padding: 2.5rem 1.5rem;
  box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 20%);
}
.text-center {
  text-align: center !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-column {
  flex-direction: column !important;
}
* {
  box-sizing: border-box;
}
/* Category */
.card-article .category {
  font-size: 0.9rem;
}
.card-article .category {
  font-size: 0.9rem;
}
.text-success {
  color: #06d6aa !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.h6,
h6 {
  font-size: 0.9rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #001142;
}
* {
  box-sizing: border-box;
}
div {
  display: block;
}
/* Fontweight */
.font-weight-bold {
  font-weight: 700 !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.h4,
h4 {
  font-size: 1.3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
* {
  box-sizing: border-box;
}
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
/* Description */
.card-article .description {
  font-size: 1rem;
  color: #62666d;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}
.card-article .description {
  font-size: 1rem;
  color: #62666d;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
/* Card image */
.card-img,
.card-img-top {
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.card-img,
.card-img-bottom,
.card-img-top {
  flex-shrink: 0;
  width: 100%;
}
.img-fluid,
.img-thumbnail {
  max-width: 100%;
  height: auto;
}
img,
svg {
  vertical-align: middle;
}
img {
  border-style: none;
}
* {
  box-sizing: border-box;
}
